# 1. 짝수와 홀수

In [12]:
def solution1(num):
    if num%2==0 or num==0:
        return "Even"
    else:
        return "Odd"

# 2. 평균 구하기

In [13]:
def solution2(arr):
    return sum(arr)/len(arr)

# 3. 약수의 합

In [10]:
def solution3(n):
    s=[]
    for i in range(1,int(n**0.5)+1):
        if n%i==0:
            s.append(i)
            if i*i!=n:
                s.append(n//i)
    answer = sum(s)
    return answer

# 4. 정수 제곱근 판별

In [19]:
def solution4(n):
    for i in range(1,int(n**0.5)+1):
        if i*i==n:
            return (i+1)**2
    return -1

In [27]:
def solution4(n):
    return "no" if n**0.5 % 1 else int((n**0.5+1)**2)

# 5. 자릿수 더하기

In [29]:
def solution5(n):
    answer = 0
    n=str(n)
    # [실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
    for i in n:
        i=int(i)
        answer+=i

    return answer

In [30]:
solution5(123)

6

# 6. 자연수 뒤집어 배열로 만들기

In [61]:
def solution6(n):
    answer = []
    n=str(n)
    for i in range(len(n)-1,-1,-1):
        answer.append(int(n[i]))
    return answer

In [63]:
def solution6(n):
    return list(map(int, reversed(str(n))))

# 7.문자열 내 p와 y의 개수

In [71]:
def solution(s):
    answer = True
    
    # [실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
    
    
    if s.count('p')+s.count('P')==s.count('y')+s.count('Y'):
        return True
    else:
        return False

# 8. 하샤드 수

In [82]:
def solution8(x):
    x=str(x)
    a=0
    for i in x:
        i=int(i)
        a+=i
        
    if int(x)%a==0:
        return True
    else:
        return False

In [83]:
def Harshad(n):
    return n % sum([int(c) for c in str(n)]) == 0

# 9. 정수 내림차순 배치하기

In [93]:
def solution9(n):
    k=str(n)
    
    n=[]
    for i in k:
        n.append(i)
    
    n.sort(reverse=True)    
    answer = 0
    l=len(n)
    for i in range(l):
        answer+=(10**(l-i-1))*int(n[i])
    return answer

In [95]:
def solution(n):
    ls = list(str(n))
    ls.sort(reverse = True)
    return int("".join(ls))

# 10. 문자열을 정수로

In [6]:
def solution10(s):
    return int(s)

# 11.x만큼 간격이 있는 n개의 숫자

In [35]:
def solution11(x, n):
    answer = []
    a=x
    while 1:
        if len(answer)==n:
            break
        answer.append(x)
        x+=a
    
    return answer

In [36]:
solution11(2,5)

[2, 4, 6, 8, 10]

# 12. 나머지가 1이 되는 수 찾기

In [37]:
def solution12(n):
    for i in range(1,n):
        if n%i==1:
            return i

# 13. 콜라츠 추측

In [56]:
def solution13(num):
    answer = 0
    cnt=0
    while 1:
        if num==1 or cnt==500:
            break
            
        if num%2==0:
            num=num//2
        elif num%2==1:
            num=num*3+1
      
        answer+=1
        cnt+=1
    
    if cnt==500:
        return -1
    return answer

# 14. 두 정수 사이의 합

In [58]:
def solution14(a, b):
    answer=0
    if a==b:
        return a
    elif a>b:
        for i in range(b, a+1):
            answer+=i
    else:
        for i in range(a, b+1):
            answer+=i
    return answer

# 15. 서울에서 김서방 찾기

In [65]:
def solution15(seoul):
    index=0
    for i in range(len(seoul)):
        if seoul[i]=="Kim":
            index=i
    answer = '김서방은 '+str(i)+'에 있다'
    return answer

In [66]:
def solution15(seoul):
    return "김서방은 {}에 있다".format(seoul.index('Kim'))

# 16. 핸드폰 번호 가리기

In [70]:
def solution16(phone_number):
    s=(len(phone_number)-4)*'*'
    answer = s+phone_number[-4:]
    return answer

# 17. 나누어 떨어지는 숫자 배열

In [75]:
def solution17(arr, divisor):
    answer = []
    for i in arr:
        if i%divisor==0:
            answer.append(i)
    answer.sort()
    
    if len(answer)==0:
        answer.append(-1)
    return answer

# 18.제일 작은 수 제거하기

In [92]:
def solution18(arr):
    arr.remove(min(arr))
    if len(arr)==0:
        return [-1]
    return arr

# 19. 음양 더하기

In [100]:
def solution19(absolutes, signs):
    answer = 0
    for i in range(len(signs)):
        if signs[i]=='true':
            answer+=absolutes[i]
        else:
            answer-=absolutes[i]
    
    return answer

# 20. 수박수박수박수박수박수?

In [102]:
def solution20(n):
    answer = '수박'
    if n%2==0:
        return answer*(n//2)
    else:
        return answer*(n//2)+'수'

In [104]:
solution20(4)

'수박수박'